 @import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap');

 *{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: 'Play', sans-serif;
   font-family: 'Poppins', sans-serif;
 }

 body{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   background: #141111;
 }


 .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    color: aliceblue;

    background-color: rgb(36, 38, 39);
    padding: 40px;
    border-radius: 12px;
 }
 h1{
   border-bottom: 1px solid ;
 }
 .input{
   display: flex;
   flex-direction: column;
   padding: 20px;
   gap: 8px;

 }

 input{
   outline: none;
   padding: 10px;
 }

 .result{
   padding: 20px;
 }

 button{
   padding: 10px;
   background-color: rgb(255, 255, 255);
   text-transform: uppercase;
   font-weight: 700;
   border: none;
   cursor: pointer;
 }

 p{
   color: aliceblue;
   padding: 20px;
   font-size: .8rem;
 }
